@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;700;800&display=swap');

button{
  border: none;
  border-radius: 200px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
}

/*button:hover{
  border: none;
  padding: 15px;
  border-radius: 200px;
  box-shadow: inset 0 0 8px #f9f8fc;
}*/

.button-os{
    width: 200px;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EE5932;
    border: none;
    transition: background-color 2.2s;
    transition-duration: 3s;
    transition: 1.5s;
  }

.button-os:hover{
  top: 30px;
  background-color: #fed0c7;
}

.button-os a{
  font-size: 16px;
  display: block;
  text-decoration: none;
  font-family: 'Sora', sans-serif;
  color: #FFEDDC;
  transition: 1.5s;
}

.button-os a:hover{
  letter-spacing: 5px;
  font-family: 'Sora', sans-serif;
}

.sidenav-container {
  float: left;
  padding: 5px;
  display: flex;
  flex-direction : column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px;
}

.sidenav-container div {
  flex: 1 1 auto;
  margin: 5px;
}


