{% extends "homepage/layout.html" %}
{% load static %}

{% block body %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/store/css/addfood.css' %}">
</head>
<div class="al">
    <div class = "heder">
        <h1>Edit Your Food</h1>
    </div>

        {% for food in foods %}
            <div class ="hed">
                <h2>{{ food.F_name }}</h2>
            </div>
            <div class="container">

                    <form method="POST" action="{% url 'storepage:edit' food.F_id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {%if request.user.is_superuser%}
                        <label>Food id:</label>
                        <select name="F_id" id="id">
                              <option value="{{ food.F_id }}">{{ food.F_id }}</option>
                        </select><br />
                    {% endif %}

                    <label>Food Name:</label>
                    <input type="text" name="foodname" required="required"><br />
                    <label>Price:</label>
                    <input type="number" name="price" required="required"><br />

                        <label for="type">Type:</label>
                        <select name="type" id="type" required="required">
                        <option value="Main">Main</option>
                        <option value="Appetizer">Appetizer</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Drink">Drink</option>
                      </select>
                      <br/>

                    <label>Food Image</label>
                    <input type="file" name="foodimage" required="required"><br />

                    <label>Description:</label>
                    <input type="text" name="description"><br />

                    <input type="submit" value="Edit" class="apply-button"/>
                    <input type="button" value="Back" onclick="javascript:history.go(-1);">

                    </form>
                </div>
            </div>
</div>


    {% endfor %}

</html>
{% endblock %}