{% extends "homepage/layout.html" %}
{% load static %}

{% block body %}
<html>
    <h1>Edit Your Food</h1>
    {% for food in foods %}

        <li>{{ food.F_name }}</li>
        <form method="POST" action="{% url 'storepage:edit' food.F_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {%if request.user.is_superuser%}
            <label>Food id:</label>
            <select name="F_id" id="id">
                  <option value="{{ food.F_id }}">{{ food.F_id }}</option>
            </select><br />
        {% endif %}

        <label>Food Name:</label>
        <input type="text" name="foodname"><br />
        <label>Price:</label>
        <input type="number" name="price"><br />

            <label for="type">Type:</label>
            <select name="type" id="type">
            <option value="Main">Main</option>
            <option value="Appetizer">Appetizer</option>
            <option value="Dessert">Dessert</option>
            <option value="Drink">Drink</option>
          </select>
          <br/>

        <label>Food Image</label>
        <input type="file" name="foodimage"><br />

        <label>Description:</label>
        <input type="text" name="description"><br />

        <input type="submit" value="Edit" class="apply-button"/>

    </form>


    {% endfor %}

</html>
{% endblock %}