{% extends "homepage/layout.html" %}
{% load static %}

<html>
{% block body %}

<link rel="stylesheet" type="text/css" href="{% static '/store/css/storeitem.css' %}">

{% for store in stores %}
<img id="cover" src="{{ BASIC_DIR }}/{{ store.store_image }}">
{% endfor %}

<div class="all-contain">
  <div class="all1">
    <div class="store-title-con">
      {% for store in stores %}
      {% if store.verify == True %}
      <h1>{{ store.store_name }} <img src="/static/store/img/verifypng2.png"></h1>
      <div class="tooltip">Hover over me
        <span class="tooltiptext">Tooltip text</span>
      </div>
      {% else %}
      <h1>{{ store.store_name }}</h1>
      {% endif %}
      {% endfor %}

      <a class="btn btn-outline-danger" href="{% url 'users:favourite' store %}"
        role="button">{{store.user_id}}favorite</a>

      {% for store in stores %}
      <ul>
        <p>Status: {{ store.status }}</p>
        <p>Type: {{ store.type_store }}</p>
        <p>Place: {{ store.place }}</p>
      </ul>
      {% endfor %}

    </div>

    <div class="side-info">
      {% for store in stores %}
      <ul>
        <p>Service time: {{ store.open_time }} - {{ store.close_time }}</p>
        <p>Description: {{ store.description }}</p>
        <p><a class="btn" href="{{ store.location_url }}" role="button">GOOGLE MAP</a></p>
        <p><a class="btn" href="{{ store.delivery_link }}" role="button">DELIVERY</a>
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>

  <div class="all2">
    <div class="menu-container">
      <div class="menu-list-container">
        {% for food in foods %}
        <div class="menu-list">
          <img src="{{ BASIC_DIR }}/{{ food.food_image }}">
          <div class="text">
            <p>{{ food.F_name }}</p>
            <p>{{ food.description }}</p>
            <p>THB {{ food.price }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="all2">
    <div class="comment-con">
      <div class="comment">

        <h3>Comment</h3>

        {% for store in stores %}
        <form action="{% url 'storepage:addcomment' %}" method="POST" class="mb-3">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-11">
              <select hidden name="user" id="user">
                <option value="{{ store.user }}">{{ store.user }}</option>
              </select>

              <input type="text" name="name" class="form-control" placeholder="Enter Your Name">
              <input type="text" name="review" class="form-control" placeholder="Enter Your Comment">

              <div class="rating">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
              </div>

            </div>

            <div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </div>
        </form>
        {% endfor %}

        {% for comment in comments %}
        <h5>{{ comment.comment_name }}</h5>
        {% if comment.rating == 5 %}
        <p>⭐⭐⭐⭐⭐</p>
        {% elif comment.rating == 4 %}
        <p>⭐⭐⭐⭐</p>
        {% elif comment.rating == 3 %}
        <p>⭐⭐⭐</p>
        {% elif comment.rating == 2 %}
        <p>⭐⭐</p>
        {% else %}
        <p>⭐</p>
        {% endif %}
        <p>{{ comment.comment_text }}</p>
        <p>{{ comment.date }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

</html>