{% extends "homepage/layout.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/home/css/home.css' %}">
    <ul>
    <h1> Food list </h1>

    <a class="btn btn-outline-danger" href="{% url 'users:favourite' store %}" role="button">{{store.user_id}}favorite</a>

    <div class="item-container">
        {% for food in foods %}
            <a class="store-link">
            <div class="store-list">
                {{ food.F_name }}</br>
                {{ food.price }}</br>
            </div>
            </a>
        {% endfor %}
    </div>

    </ul>


<!-- hashflag-gallery - dribbble - twitter -->

<a class="foodpanda" target="_top" href="https://www.foodpanda.co.th/restaurant/waq5/khao-yum-kai-zab-on-nut-market">
  <img src="/static/home/img/foodpanda3.jpg" style="width: 75px; height: 55px; margin-left: 30px;">
</a>

{% endblock %}


