{% extends "users/customer_layout.html" %}
{% load static %}
<html>


{% block body %}

<link rel="stylesheet" type="text/css" href="{% static '/users/css/sidenav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/users/css/customer_account.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



{% if messages %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/alert.css' %}">

	{% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}

{% endif %}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class = "info">
             <p class="card-text">
            <h1>Welcome, {{ request.user.first_name }} {{ request.user.last_name }}</h1>
            <p >Username: {{ request.user.username }}</p>
            <p>Gender: {{ request.user.gender }}</p>
            <p>Email: {{ request.user.email }}</p>
            <p>Tel: {{ request.user.tel }}</p>
            <p>Address: {{ request.user.customer.address }}</p>
            </p>
        </div>
    </div>
</div>



{% endblock %}
</html>