{% extends "homepage/layout.html" %}
{% load static %}

{% block body %}
<html>
  <link rel="stylesheet" type="text/css" href="{% static '/users/css/fav.css' %}">

  <h1>fav Store List</h1>
  <div class="store-container">

    {% for store in stores %}
    <a href="{% url 'storepage:storeitem' store.user_id %}" class="store-link" >
      <div class="store-list">
        <!--{{ store.store_name }}<br>-->
        <img src="{{ BASIC_DIR }}/{{ store.store_image }}" >
        {{ store.store_name }}
      </div>
    </a>
    {% endfor %}

  </div>
</html>
{% endblock %}