{% extends "users/customer_layout.html" %}
{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static '/users/css/fav.css' %}">

<div class="favcon">
  <h1><b>My Favourite Store</b></h1>
  <hr width="500" align="left" size="7" color="red">
    <div class="store-container">
    {% for store in stores %}
    <a href="{% url 'storepage:storeitem' store.user_id %}" class="store-link">
        <div class="store-list">
            <img src="{{ BASIC_DIR }}/{{ store.store_image }}">
            <div class="fullcap">
                {{ store.store_name }}
            </div>
        </div>
    </a>
    {% endfor %}
</div>

</div>

{% endblock %}