{% extends "homepage/layout.html" %}
{% load static %}

{% block body %}
<html>

<link rel="stylesheet" type="text/css" href="{% static '/users/css/sidenav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/users/css/customer_account.css' %}">

 <div class="row my-3 p-3">
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Store name:</label>
                            {{ user_form.store_name }}
                        <label class="small mb-1">First name:</label>
                            {{ user_form.first_name }}
                        <label class="small mb-1">Last name:</label>
                            {{ user_form.last_name }}
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                        <label class="small mb-1">Tel:</label>
                            {{ user_form.tel }}
                        <label class="small mb-1">Gender:</label>
                            {{ user_form.gender }}
                        <label class="small mb-1">Location:</label>
                            {{ user_form.location }}
                        <label class="small mb-1">Type store:</label>
                            {{ user_form.type_store }}
                        <label class="small mb-1">Place:</label>
                            {{ user_form.place }}
                        <label class="small mb-1">Location URL:</label>
                            {{ user_form.location_url }}
                    </div>
                    <div class="form-group">
                        <a href="#">Change Password</a>
                        <hr>
                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>


</html>
{% endblock %}