{% extends "users/store_layout.html" %}
{% load static %}

{% block body %}

{% if messages %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/alert.css' %}">

	{% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}

{% endif %}


<h1>{{ request.user.store.store_name }}</h1>
<ul>
    <li>Username: {{ request.user.username }}</li>
    <li>Email: {{ request.user.email }}</li>
    <li>Address: {{ request.user.store.location }}</li>
    <li>Tel: {{ request.user.tel }}</li>

</ul>

<ul>
    {% if request.user.store.verify == True %}
        <li> Verify: Success </li>
    {% else %}
        <li> Verify: No </li>
    {% endif %}
    <li>Status: {{ request.user.store.status }}</li>
    <li>Service time: {{ request.user.store.open_time }} - {{ request.user.store.close_time }}</li>
    <li>Type: {{ request.user.store.type_store }}</li>
    <li>Place: {{ request.user.store.place }}</li>
    <li>Location: {{ request.user.store.location_url }}</li>
    <li>Description: {{ request.user.store.description }}</li>
</ul>

{% endblock %}