@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700;800&display=swap');

:root {
  --size: 100px;
  --frames: 62;
  --container-width: 713px;
}

#cover {
  width: 100%;
  height: 486px;
  object-fit: cover;
}

.all-contain {
  font-family: Sora;
  display: flex;
  width: 1080px;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.all1 {
  display: flex;
  width: 1080px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.all2 {
  display: flex;
  width: 1080px;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
}

.store-title-con {
  width: var(--container-width);
  height: 285px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 6px 8px rgba(217, 217, 217, 0.25);
  border-radius: 24px;
  padding: 20px 20px;
}

.menu-container {
  width: var(--container-width);
  float: left;
  height: auto;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 6px 8px rgba(217, 217, 217, 0.25);
  border-radius: 24px;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 67px 45px;
}

.menu-list-container {
  display: flex;
  margin: auto;
  width: 1078px;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: flex-start;
  max-width: 100%;
  gap: 10px;
}

.menu-list {
  max-width: 100%;
  width: 146px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.menu-list img {
  box-shadow: 2px 2px 6px 5px rgba(210, 210, 210, 0.25);
  border-radius: 10px;
  width: 146px;
  height: 155px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.menu-list p {
  font-family: Sora;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;

  color: black;
}

.comment-con {
  float: left;
  width: var(--container-width);
  height: auto;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 6px 8px rgba(217, 217, 217, 0.25);
  border-radius: 24px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment {
  padding: 20px 20px;
}

.side-info {
  width: 347px;
  height: 285px;
  float: right;
  padding: 20px 20px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 6px 8px rgba(217, 217, 217, 0.25);
  border-radius: 24px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* hover verify */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
