@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700;800&display=swap');

.form-search {
  display: block;
  width: 100%;
  padding:.375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn {
  border: none;
  background: #EE5932 !important;
}

#map {
  position: relative;
  width: 1078px;
  height: 324px;
  align-items: center;
  margin-bottom: 50px;
}

.location-box {
   align-items: center;
   margin: auto;
   margin-top: 3rem;
   width: 1078px;

}

.store-container {
  display: flex;
  margin: auto;
  width: 1078px;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 20px;
}

.store-link {
  text-decoration: none;
  font-family: 'Sora';
  color: #fff;
}

.store-list {
  width: 255px;
  height: 170.33px;
  background-color: aqua;
  border-radius: 10px;
}

.item-container {
  display: flex;
  margin: auto;
  width: 1078px;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
}