@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700;800&display=swap');

.form-search {
  display: block;
  width: 100%;
  padding:.375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn {
  border: none;
  background: #EE5932 !important;
}

#map {
  position: relative;
  max-width: 100%;
  width: 1078px;
  height: 324px;
  align-items: center;
  margin-bottom: 50px;
}

.location-box {
   align-items: center;
   margin: auto;
   margin-top: 3rem;
   width: 1078px;

}

.store-head {
    position: relative;
    align-items: center;
}

.store-head {
    position: relative;
    align-items: center;
}

.store-container {
  display: flex;
  margin: auto;
  width: 1078px;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: space-evenly;
}

.store-link {
  text-decoration: none;
  font-family: 'Sora';
  color: #fff;
}

.store-list {
  width: 255px;
  height: 170.33px;
  border-radius: 10px;
  margin: 5px;
}

.store-list img {
  border-radius: 10px;
  width: 255px;
  height: 170.33px;
  object-fit: cover;
}

.item-container {
  display: flex;
  margin: auto;
  width: 1078px;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
}

footer body {
        font-family: 'Signika', sans-serif;
}

.bg-grey {
    background: #292929;
    margin-top: 100px;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    color: grey;
}

footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
     color: grey;

    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
 }

.btn-footer:hover {

            text-decoration: none;

}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background:#232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul  {
   padding-left: 0;
}

footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;

}

input[type=submit] {
    padding: 5px 15px;
    background: #fff;
    border: 0 none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
   color: #E13D20 !important;
    background-color:#FFEDDC
}

.dropdown-menu {
    width: 200px;
}

.curve {
    z-index: -1;
    width: 3000px;
    height: 500px;
    background: url(/static/home/img/curve1.png);
    background-size: 100% 100%;
    align-items: center;
    max-width: 100%;
}

.curve img {
    position: absolute;
    align-items: center;
    max-width: 100%;
}